Repository nilleb/openai-agents-streaming-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, validate-skills, pytest

.pre-commit-config.yaml:

# Pre-commit configuration (using prek - https://github.com/j178/prek)
# Run with: ./cli prek

repos:
  # Ruff - fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks using the CLI
  - repo: local
    hooks:
      # Type checking with ty
      - id: typecheck
        name: typecheck
        entry: uv run --group dev ty check
        language: system
        types: [python]
        pass_filenames: false

      # Validate Agent Skills
      - id: validate-skills
        name: validate-skills
        entry: uv run python -m src.skills_agents.cli validate
        language: system
        pass_filenames: false
        files: SKILL\.md$

      # Run tests
      - id: pytest
        name: pytest
        entry: uv run --group dev pytest src/skills_agents/tests/ -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]  # Tests only on push (faster commits)

chore: typecheck violations
  src/api/main.py
  src/api/routers/chat.py
  src/api/routers/research.py
  src/api/utils/agent_router.py
  src/deep_research_agent/__init__.py
  src/deep_research_agent/agents/supervisor_agent.py
  src/deep_research_agent/mcp.py
  src/deep_research_agent/models.py
  src/deep_research_agent/tools.py
  src/markdown_agents/builder.py
  src/research_bot/manager.py
  src/skills_agents/builder.py
  src/skills_agents/loader.py
  src/skills_agents/tests/test_builder.py
  src/skills_agents/tests/test_loader.py
  src/skills_agents/tests/test_models.py
  src/skills_agents/validator.py
  uv.lock
Due: typecheck, pytest

fix: install prek on setup
  cli
Due: none

feat: validate skills and improve documentation
  README.md
  cli
  pyproject.toml
  src/skills_agents/README.md
  src/skills_agents/tests/test_skill_runner.py
  uv.lock
Due: typecheck, pytest

feat: pdf extractor skills and their tests (unit + integration)
  src/skills_agents/examples/agents.yaml
  src/skills_agents/examples/data-aggregator/SKILL.md
  src/skills_agents/examples/gii-extractor/SKILL.md
  src/skills_agents/examples/hdi-pdf-analyzer/SKILL.md
  src/skills_agents/examples/pdf-extractor/SKILL.md
  src/skills_agents/schemas/__init__.py
  src/skills_agents/schemas/hdi_pdf_analyzer.py
  src/skills_agents/tests/test_hdi_integration.py
  src/skills_agents/tests/test_hdi_output_models.py
  src/skills_agents/tests/test_hdi_sample_values.py
Due: typecheck, validate-skills, pytest

feat: expose the hdi-pdf-reader through the router
  .pre-commit-config.yaml
  src/api/main.py
  src/api/routers/README.md
  src/api/routers/hdi_pdf_analyzer.py
  src/api/tests/__init__.py
  src/api/tests/test_hdi_pdf_analyzer.py
  src/skills_agents/tests/test_hdi_integration.py
  src/skills_agents/tests/test_skill_runner.py
  src/skills_agents/tests/test_validator.py
Due: typecheck, pytest
